header{
	background-color: #F4F3E3;
    height: 60px;
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.scroll-left {
	height: 100%;
	overflow: hidden;
	position: relative;
}

.scroll-left .inner{
	align-content: center;
	column-gap: 20px;
	position: absolute;
	height: 100%;
	width: 1200px;
	line-height: 60px;
	text-align: center;
	height: 60px;
	z-index: 99;
	ul{
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		font-size: 25px;
		li{
			strong{
			font-family: $america;
			letter-spacing: 0px;
			}
			font-family: $superlight;
			margin: 0 40px;
		}
	}
}

#progress_bar{
	background-color: #0100fe;
	height: 4px;
	width: 0%;
}

.title-bold {
	font-family: $america;
	text-transform: uppercase;
}

.title-light {
	font-family: $superlight;
}

.text-small {
	font-size: 14px;
	font-family: $super;
}




