@font-face {
    font-family: 'GT Pressura Mono';
    src: url('fonts/GTPressuraMono-Light.eot');
    src: url('fonts/GTPressuraMono-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/GTPressuraMono-Light.woff2') format('woff2'),
        url('fonts/GTPressuraMono-Light.woff') format('woff'),
        url('fonts/GTPressuraMono-Light.ttf') format('truetype'),
        url('fonts/GTPressuraMono-Light.svg#GTPressuraMono-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('fonts/GTAmerica-Black.eot');
    src: url('fonts/GTAmerica-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/GTAmerica-Black.woff2') format('woff2'),
        url('fonts/GTAmerica-Black.woff') format('woff'),
        url('fonts/GTAmerica-Black.ttf') format('truetype'),
        url('fonts/GTAmerica-Black.svg#GTAmerica-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Centurybold';
    src: url('fonts/CenturySchoolbook-Bold.eot');
    src: url('fonts/CenturySchoolbook-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/CenturySchoolbook-Bold.woff2') format('woff2'),
        url('fonts/CenturySchoolbook-Bold.woff') format('woff'),
        url('fonts/CenturySchoolbook-Bold.ttf') format('truetype'),
        url('fonts/CenturySchoolbook-Bold.svg#CenturySchoolbook-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Century';
    src: url('fonts/CenturySchoolbook.eot');
    src: url('fonts/CenturySchoolbook.eot?#iefix') format('embedded-opentype'),
        url('fonts/CenturySchoolbook.woff2') format('woff2'),
        url('fonts/CenturySchoolbook.woff') format('woff'),
        url('fonts/CenturySchoolbook.ttf') format('truetype'),
        url('fonts/CenturySchoolbook.svg#CenturySchoolbook') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}