// Colors
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$blue: #49c4d3;
$yellow: #ffd736;
$pink: #ecc1e1;

// Fonts

$pressura: 'GT Pressura Mono';
$america: 'GT America';
$super: 'Centurybold';
$superlight: 'Century';

$normal: 400;
$bold: 700;
$light: 200;

$font-base: 15px;
$font-small: 12px;


//Sizes
$min-xxs: 441px;
$min-xs: 480px;
$min-sm: 769px;
$min-md: 991px;

$max-xxs: 440px;
$max-xs: 479px;
$max-sm: 767px;
$max-md: 990px;

$menu-break: 670px;