.collection-container {
  overflow: visible;
  margin-top: 60px;
}

.text-center {
  font-family:$super;
  font-size:18px;
}
.collection-slider {
}
.collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  cursor: pointer;
	img {
    object-fit:cover;
    width:auto;
    height:65vh;
	}
}

.flickity-button{
	background:transparent;
	color: #000;
	height: 100% !important;
	top: 0;
	width: 200px !important;
	border-radius: 0px;
	transform: translateY(0);
	svg{
		display: none;
	}
}

.flickity-button.previous{
	background: transparent;
	cursor: url('cursor/left.png'), auto;
}

.flickity-button.next{
	background: transparent;
	cursor: url('cursor/right.png'), auto;
}
