.single-collection-content{

	position: fixed;
	left: 0;
	top: 0;
	background-color: #F4F3E3;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	opacity: 0;
	transition: all 0.5s ease;

	video{
		margin: 0 auto;
	    width: 60%;
	    display: flex;
	    transition: all 0.3s ease;
	    cursor: -webkit-zoom-in;
   		cursor: zoom-in;
	}


	.content-product{
		position: absolute;
	    top: 85px;
	    width: 300px;
	    /* background-color: white; */
	    left: 0px;
	    border: 1px solid black;
	    text-align: center;
	    display: none;
	    h3{
	    	font-size: 10px;
	    	text-transform: uppercase;
	    	font-family: $super;
	    	letter-spacing: 2px;
	    	margin-bottom: 30px;
	    	margin-top: 30px;
	    }

	    p{
	    	font-size: 10px;
	    	text-transform: uppercase;
	    	margin-bottom: 30px;
	    	color: black;
	    }
	    img{
	    	width: 100%;
	    	display: block;
	    	border-bottom: 1px solid black;
	    }

	    .button{
	    	text-decoration: underline;
	    	font-size: 10px;
	    	text-transform: uppercase;
	    	color: #be282b;
	    	margin-bottom: 30px;
	    }
	}



	.close {
	  position: absolute;
	  right: 32px;
	  top: 32px;
	  width: 32px;
	  height: 32px;
	  opacity: 0.8;
	  cursor:pointer;
	  z-index: 9999;
	}
	.close:hover {
	  opacity: 1;
	}
	.close:before, .close:after {
	  position: absolute;
	  left: 15px;
	  content: ' ';
	  height: 15px;
	  width: 1px;
	  background-color: #000;
	}
	.close:before {
	  transform: rotate(45deg);
	}
	.close:after {
	  transform: rotate(-45deg);
	}

	.close-product {
	  position: absolute;
	  right: 12px;
	  top: 12px;
	  width: 32px;
	  height: 32px;
	  opacity: 0.8;
	  cursor:pointer;
	}
	.close-product:hover {
	  opacity: 1;
	}
	.close-product:before, .close-product:after {
	  position: absolute;
	  left: 15px;
	  content: ' ';
	  height: 15px;
	  width: 1px;
	  background-color: #000;
	}
	.close-product:before {
	  transform: rotate(45deg);
	}
	.close-product:after {
	  transform: rotate(-45deg);
	}

	.collection-content{
		position: absolute;
	    top: 30px;
	    width: 300px;
	    /* background-color: white; */
	    left: 50px;
	    .title-single{
			font-family: $super;
			letter-spacing: 2px;
			text-align: center;
			h5{
				font-size: 12px;
				margin-bottom: 5px;
			}

			h3{
				font-size: 30px;
				margin-bottom: 30px;
				margin-top: 5px;
			}
		}
	    .collection-images{
	    	display: grid;
		    grid-template-columns: 1fr 1fr;
		    border-top: 1px solid black;
	  		border-left: 1px solid black;
	    }
	    .image-product{
	    	cursor:pointer;
	    	img{
	    		width: 100%;
	    	}
	    }
	}

	.collection-images > .image-product{
		
	    border-bottom: 1px solid black;
  		border-right: 1px solid black;
	}

}